.datepicker-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-width: 350px;
    user-select: none;
    padding: 10px;
}

.scroll-lists {
    display: flex;
    justify-content: space-between;
    border-radius: 12px;
    height: 135px; /* 45px * 3 */
    width: 100%;
    position: relative;
    overflow: hidden;
}

.scroll-list {
    flex: 1;
    height: 135px;
    overflow-y: auto;
    scroll-snap-type: y mandatory;
    scrollbar-width: none;
    -ms-overflow-style: none;
    z-index: 2;
}

.scroll-list::-webkit-scrollbar {
    display: none;
}

.scroll-item {
    height: 45px;
    line-height: 45px;
    text-align: center;
    scroll-snap-align: center;
    font-size: 19px;
    opacity: 0.4;
    filter: blur(2px);
    transform: scale(0.8);
}

.scroll-item.selected {
    font-weight: bold;
    opacity: 1;
    filter: none;
    transform: scale(1);
    transition: all 0.1s ease;
}

.selection-highlight {
    position: absolute;
    top: 45px; /* دقیقا ردیف وسط */
    left: 10px;
    right: 10px;
    height: 45px;
    border-top: 1px solid rgba(0,0,0,0.05);
    border-bottom: 1px solid rgba(0,0,0,0.05);
    pointer-events: none;
    z-index: 1;
}

.apply-button {
    width: 100%;
    margin-top: 16px;
    padding: 12px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: opacity 0.2s;
}

.apply-button:active {
    opacity: 0.8;
}
